<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />

    <title>CRUDig</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="/css/bootstrap_modif.css" rel="stylesheet" media="screen">
    
    <script type="text/javascript" src="/js/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    
    
    
    
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
    
      // Load the Visualization API and the piechart package.
      google.load('visualization', '1.0', {'packages':['corechart']});
      
      // Set a callback to run when the Google Visualization API is loaded.
      google.setOnLoadCallback(drawChartCombo);
      
      // Callback that creates and populates a data table, 
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChartCombo() {
        // Some raw data (not necessarily accurate)
        var data = google.visualization.arrayToDataTable([
          <%
              # => imprimimos con Ruby los datos para el grafico
              if (!resultChart.nil? && resultChart.size>0)
                resultChart.each do |col| %>
                  <%='[\''+col[0]+'\','+col[1]+'],' %>                
                <% end %>
              <%else%>
                ['Month', 'Bolivia', 'Ecuador', 'Madagascar', 'Papua New Guinea', 'Rwanda', 'Average'],
                ['2004/05',  165,      938,         522,             998,           450,      614.6],
                ['2005/06',  135,      1120,        599,             1268,          288,      682],
                ['2006/07',  157,      1167,        587,             807,           397,      623],
                ['2007/08',  139,      1110,        615,             968,           215,      609.4],
                ['2008/09',  136,      691,         629,             1026,          366,      569.6]
              <%end%>
        ]);

        var options = {
          title : 'Monthly Coffee Production by Country',
          vAxis: {title: "Cups"},
          hAxis: {title: "Month"},
          seriesType: "bars",
          series: {5: {type: "line"}}
        };

        var chart = new google.visualization.ComboChart(document.getElementById('chart_div_combo'));
        chart.draw(data, options);
      }

    </script>
  </head>  
  <body>
    
    <div class="navbar navbar-inverse" role="navigation">
      <div class="container_menu">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">CRUDig</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <% enlaces.each do |link| %>
               <li><a href="/<%= idioma %>/<%= link%>/listar"><%= link%></a></li>
            <% end %>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="navbar-right"><a href="/<%= idioma %>/caracteristicas">Características</a></li>
            <li class="navbar-right"><a href="/<%= idioma %>/config">Config</a></li>
            <li class="navbar-right"><a href="/<%= idioma %>/config">Versiones</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Gráficos<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/<%= idioma %>/chartArea">Area</a></li>
                <li><a href="/<%= idioma %>/chartCircle">Círculo</a></li>                
                <li><a href="/<%= idioma %>/chartBar">Barras</a></li>
                <li><a href="/<%= idioma %>/chartColumn">Columnas</a></li>
                <li><a href="/<%= idioma %>/chartCombo">Combo</a></li>
                <li><a href="/<%= idioma %>/chartLine">Líneas</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>    
    
        
     <div class="container">    
            
        <% if message != '' %>
          <%= message%>
        <!--<div class="alert alert-success">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>-->
        <% end %>
          

        <div class="row">
          <div class="col-md-8">
            <div id="chart_div_combo" style="width: 600px; height: 600px;"></div>
          </div>
          
          <div class="col-md-4" style="background-color: #EEEEEE; height: 100%;" >
            
            <form role="form" action="/<%= idioma %>/chartCircle/testingChart" method="get">
              
              <div class="form-group">
                <label for="">Nombre del gráfico</label>
                <input type="text" class="form-control" placeholder="">
              </div>
              
              <div class="form-group">
                <label for="">Mostrar en menú</label>
                <select class="form-control">
                  <% enlaces.each do |link| %>
                     <option value="<%= link%>"><%= link%></option>
                  <% end %>
                </select>
              </div>
              
              <div class="form-group">
                <label for="">Elementos a representar</label>
                <select class="form-control">
                  <% tablas.each do |tabla, arrValue| %>
                    <% arrValue['columnas'].each do |columna, values| %>
                       <option value="<%=tabla+'.'+columna %>"><%=tabla+'.'+columna %></option>
                    <% end %>
                  <% end %>
                </select>
              </div>
              
              <div class="form-group">
                <label for="">Cantidades a mostrar (eje Y)</label>
                <select class="form-control">
                  <% tablas.each do |tabla, arrValue| %>
                    <% arrValue['columnas'].each do |columna, values| %>
                       <option value="<%=tabla+'.'+columna %>"><%=tabla+'.'+columna %></option>
                    <% end %>
                  <% end %>
                </select>
              </div>
              
              <div class="form-group">
                <label for="">Cantidades a mostrar (eje X)</label>
                <select class="form-control">
                  <% tablas.each do |tabla, arrValue| %>
                    <% arrValue['columnas'].each do |columna, values| %>
                       <option value="<%=tabla+'.'+columna %>"><%=tabla+'.'+columna %></option>
                    <% end %>
                  <% end %>
                </select>
              </div>

              <button type="submit" class="btn btn-info">Probar datos</button>
              <button type="submit" class="btn btn-primary">Guardar gráfico</button>
            </form>
          </div>
        </div>
    </div>
         
    </div>
        
      
  </body>
</html>        
