<% def btnAyuda() %>
  <span>
    <button type="button" class="btn-ayuda btn btn-xs btn-info popover-dismiss" 
        data-toggle="popover" title="Popover title" 
        data-content="And here's some amazing content. It's very engaging. Right?">
    ?</button>
  </span>
  <% return '' %>
<% end %>

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />

    <title>CRUDig</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="/css/bootstrap_modif.css" rel="stylesheet" media="screen">
    <link href="/css/modif_bootstrap.css" rel="stylesheet" media="screen">
    
    <script type="text/javascript" src="/js/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    
  </head>  
  <body>
    
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container_menu">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">CRUDig</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <% tablas.each do |tabla, value|
                  if (value['config'][:ver_en_menu] == true)
                  %>
                    <li><a href="/<%= idioma %>/<%= tabla%>/listar"><%= value['config'][:nombre_menu]%></a></li>
              <%  end
              end %>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            
            <li class="navbar-right dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= idioma.upcase %><b class="caret"></b></a>
              <ul class="dropdown-menu">
                <% if (idioma != 'ES' ) %>   <li><a href="/<%= idioma %>/">ES</a></li> <% end %>
                <% if (idioma != 'EN' ) %>   <li><a href="/<%= idioma %>/">EN</a></li> <% end %>
                <% if (idioma != 'FR' ) %>   <li><a href="/<%= idioma %>/">FR</a></li> <% end %>
                <% if (idioma != 'DE' ) %>   <li><a href="/<%= idioma %>/">DE</a></li> <% end %>
                <% if (idioma != 'IT' ) %>   <li><a href="/<%= idioma %>/">IT</a></li> <% end %>
                <% if (idioma != 'PR' ) %>   <li><a href="/<%= idioma %>/">PR</a></li> <% end %>
              </ul>
            </li>
            
            <li class="navbar-right dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Info<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/<%= idioma %>/ayuda">Ayuda</a></li>
                <li><a href="/<%= idioma %>/caracteristicas">Características</a></li>
                <li><a href="/<%= idioma %>/config">Versiones</a></li>
                <li class="divider"></li>
                <li><a href="/<%= idioma %>/demos">Demos</a></li>
              </ul>
            </li>
                        
            <li class="navbar-right dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Config<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/<%= idioma %>/mejoras">Mejoras</a></li>
                <li><a href="/<%= idioma %>/configuraciones">Configuraciones</a></li>
                <li class="divider"></li>
                <li><a href="/<%= idioma %>/config">Nueva configuración</a></li>
              </ul>
            </li>
            
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Gráficos<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/<%= idioma %>/chartArea">Area</a></li>
                <li><a href="/<%= idioma %>/chartCircle">Círculo</a></li>                
                <li><a href="/<%= idioma %>/chartBar">Barras</a></li>
                <li><a href="/<%= idioma %>/chartColumn">Columnas</a></li>
                <li><a href="/<%= idioma %>/chartCombo">Combo</a></li>
                <li><a href="/<%= idioma %>/chartLine">Líneas</a></li>
                <li class="divider"></li>
                <li><a href="/<%= idioma %>/mycharts">Mis gráficos</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>    
    
        
    <div class="container">    
            
      <% if message != '' %>
        <%= message%>
      <!--<div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>-->
      <% end %>
      
      <div class="row">
        <div class="col-md-6">
          <form method="post" action="/config/conectarBD" enctype='multipart/form-data'>
            <div class="panel panel-default">
              <div class="panel-heading">
                <input type="submit" name="conectar" id="conectar" style="float: right;" 
                    class="btn btn-sm btn-primary" value="Descargar" />
                <input type="submit" name="conectar" id="conectar" style="float: right;" 
                    class="btn btn-sm btn-primary" value="Conectar" />
                <a class="headtabla" data-toggle="collapse" data-parent="#accordion" href="#conexionBD">
                  Conexión con BD</a>
              </div>
              <div class="panel-collapse collapse in" id="conexionBD">
                <table class="table table-condensed table-bordered">
                <thead>
                  <tr class="info">
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><label>Driver</label></td>
                    <td>
                      <select class="form-control" id="driver" name="driver">
                        <option value="Mysql"
                          <%= 'selected' if (conexionBD[:driver]=='MySQL')%>
                          >MySQL</option>
                        <option value="MariaDB"
                          <%= 'selected' if (conexionBD[:driver]=='MariaDB')%>
                          >MariaDB</option>
                        <option value="Postgress"
                          <%= 'selected' if (conexionBD[:driver]=='Postgress')%>
                          >PostgreSQL</option>
                        <option value="SQLServer"
                          <%= 'selected' if (conexionBD[:driver]=='SQLServer')%>
                          >SQL Server</option>
                        <option value="Oracle"
                          <%= 'selected' if (conexionBD[:driver]=='Oracle')%>
                          >Oracle</option>
                        <option value="Sqlite"
                          <%= 'selected' if (conexionBD[:driver]=='Sqlite')%>
                          >Sqlite</option>
                      </select>
                  </tr>
                  <tr>
                    <td><label>Aricho Sqlite</label></td>
                    <td><input type="file" id="sqlitefile" name="sqlitefile"
                      class="form-control"/></td>
                  </tr>                      
                  <tr>
                    <td><label>Dominio</label></td>
                    <td><input type="text" id="dominio" name="dominio"
                      <%if (conexionBD[:host]) %> value="<%= conexionBD[:host] %>"
                      <% else %>        value="127.0.0.1"
                      <% end %>
                      class="form-control" required="required"/></td>
                  </tr>
                  <tr>
                    <td><label>Base de Datos</label></td>
                    <td><input type="text" id="bd" name="bd"
                      <%if (conexionBD[:bd]) %> value="<%= conexionBD[:bd] %>"
                      <% else %>        value="fullcrud"
                      <% end %> 
                      class="form-control" required="required"/></td>
                  </tr>
                  <tr>
                    <td><label>Puerto</label></td>
                    <td><input type="text" id="port" name="port"
                      <%if (conexionBD[:port]) %> value="<%= conexionBD[:port] %>"
                      <% else %>     value="3306"
                      <% end %> 
                      class="form-control" required="required"/></td>
                  </tr>                      
                  <tr>
                    <td><label>Usuario</label></td>
                    <td><input type="text" id="usuario" name="usuario" 
                      <%if (conexionBD[:user]) %> value="<%= conexionBD[:user] %>"
                      <% else %>     value="root"
                      <% end %> 
                      class="form-control" required="required"/></td>
                  </tr>
                  <tr>
                    <td><label>Contraseña</label></td>
                    <td><input type="password" id="pass" name="pass" 
                      <%if (conexionBD[:pass]) %> value="<%= conexionBD[:pass] %>"
                      <% else %>     value="3306"
                      <% end %> 
                      class="form-control" /></td>
                  </tr>
                </tbody>
              </table>
              </div>
            </div>
          </form> 
        </div>  
        <div class="col-md-6">
          <form method="post" action="/config/conectarFTP">
            <div class="panel panel-default">
              <div class="panel-heading">
                <input type="submit" name="conectar" id="conectar" style="float: right;" 
                    class="btn btn-sm btn-primary" value="Conectar" />
                <a class="headtabla" data-toggle="collapse" data-parent="#accordion" href="#conexionHD">
                  Conexión con Almacenamiento FTP</a>
              </div>
              <div class="panel-collapse collapse in" id="conexionHD">
                <table class="table table-condensed table-bordered">
                <thead>
                  <tr class="info">
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><label>Host/IP</label></td>
                    <td><input type="text" id="host" name="host" 
                      value="<%= config[:hostFTP] %>" class="form-control" 
                      required="required"/></td>
                  </tr>
                  <tr>
                    <td><label>Puerto</label></td>
                    <td><input type="text" id="port" name="port" 
                      value="<%= config[:portFTP] %>" class="form-control" 
                      required="required"/></td>
                  </tr>
                  <tr>
                    <td><label>Usuario</label></td>
                    <td><input type="text" id="usuario" name="usuario" 
                      value="<%= config[:userFTP] %>" class="form-control" 
                      required="required"/></td>
                  </tr>
                  <tr>
                    <td><label>Contraseña</label></td>
                    <td><input type="password" id="pass" name="pass" 
                      value="<%= config[:passFTP] %>" class="form-control" 
                      required="required"/></td>
                  </tr>
                  <tr>
                    <td colspan="2"><label><%= "Ruta FTP : "+config[:rutaFTP]%></label></td>
                  </tr>
                </tbody>
              </table>
              </div>
            </div>
          </form> 
        </div>
      </div>
        
      
      <% tablas.each do |tabla, val| %>
        <form method="post" action="/<%= idioma %>/config/edit/<%= tabla %>">
          <div class="panel panel-default">
            <div class="panel-heading">
              <input type="button" name="conectar" id="conectar" style="float: right;" 
                  class="btn btn-sm btn-primary" value="Editar" />
              <input type="submit" name="conectar" id="conectar" style="float: right;" 
                  class="btn btn-sm btn-success" value="Guardar" />
              <input type="button" name="conectar" id="conectar" style="float: right;" 
                  class="btn btn-sm btn-danger" value="Cancelar" />
              
                <a class="headtabla" data-toggle="collapse" data-parent="#accordion" 
                    href="#form<%= tabla %>"><%= tabla %></a>
              
            </div>
            <div class="panel-collapse collapse in" id="form<%= tabla %>">
              <table class="table table-condensed table-bordered">
                <thead>
                <tr class="info">
                </tr>
                </thead>
                <tbody>
                  <tr class="info">
                    <td>Unión <%= btnAyuda() %></td>
                    <td>Nombre de Tabla <%= btnAyuda() %></td>
                    <td>Ver Tabla en el menú <%= btnAyuda() %></td>
                    <td>Insertar por ventana <%= btnAyuda() %></td>
                    <td>Editar por ventana <%= btnAyuda() %></td>
                    <td>Tablas detalles <%= btnAyuda() %></td>
                    <td>Paginador <%= btnAyuda() %></td>
                  </tr>
                  <tr>
                    <td>
                      <select class="form-control" id="inner_join" name="inner_join">
                        <option value="1" <%= 'selected' if (val['config'][:inner_join]==true) %>>Si</option>
                        <option value="0" <%= 'selected' if (val['config'][:inner_join]==false) %>>No</option>
                      </select>
                    </td>
                    <td>
                      <input type="text" id="nombre_tabla" name="nombre_tabla" 
                        value="<%= val['config'][:nombre_grid]%>" class="form-control"/>
                    </td>
                    <td>
                      <select class="form-control" id="ver_tabla_en_menu" name="ver_tabla_en_menu">
                        <option value="1" <%= 'selected' if (val['config'][:ver_en_menu]==true) %>>Si</option>
                        <option value="0" <%= 'selected' if (val['config'][:ver_en_menu]==false) %>>No</option>
                      </select>
                    </td>
                    <td>
                      <select class="form-control" id="insertar_por_ventana" name="insertar_por_ventana">
                        <option value="1" <%= 'selected' if (val['config'][:insert_window]==true) %>>Si</option>
                        <option value="0" <%= 'selected' if (val['config'][:insert_window]==false) %>>No</option>
                      </select>
                    </td>
                    <td>
                      <select class="form-control" id="editar_por_ventana" name="editar_por_ventana">
                        <option value="1" <%= 'selected' if (val['config'][:edit_window]==true) %>>Si</option>
                        <option value="0" <%= 'selected' if (val['config'][:edit_window]==false) %>>No</option>
                      </select>
                    </td>
                    <td><%= val['config'][:detalle_de]%>
                      <% if (val['config'][:referencias].length > 0) %>
                        <select class="form-control" id="" name="" >
                        <% val['config'][:referencias].each do | tabla, col | %>
                            <option value="<%= tabla%>"
                              <%= 'selected' if (params['referencia'].eql?(tabla))%> >
                              <%= tabla%></option>
                        <% end %>
                        </select>
                      <% end %>
                    </td>
                    <td>
                      <select class="form-control" id="text_paginador" name="paginador">
                      <!--<input type="text" id="text_paginador" name="paginador" 
                        value="<%#= val['config'][:paginador]%>" class="form-control"/>
                      -->
                        <option value="10"
                          <%= 'selected' if ('10'.eql?(val['config'][:paginador]))%> >
                          10</option>
                        <option value="20"
                          <%= 'selected' if ('20'.eql?(val['config'][:paginador]))%> >
                          20</option>
                        <option value="30"
                          <%= 'selected' if ('30'.eql?(val['config'][:paginador]))%> >
                          30</option>
                      </select>
                    </td>
                  </tr>
                  <%= '<div class="alert alert-danger"> No tiene configuración está tabla </div>' if (val.length < 1) %>
                </tbody>
              </table>
              <%#= val['config'] 
              %>
              <%= val['config'][:combo_string_fk]
              %> 
                  
              <table class="table table-condensed table-bordered">
                <thead>
                  <tr class="info"></tr>
                </thead>
                <tbody>
                  <tr class="info"><td>columnas</td>
                    
                    <td>position
                      <div>
                        <button type="button" class="btn-ayuda btn btn-xs btn-info popover-dismiss" 
                            data-toggle="popover" title="Popover title" 
                            data-content="And here's some amazing content. It's very engaging. Right?">
                        ?</button>
                      </div>
                    </td>
                    <td>default_value
                      <div>
                        <button type="button" class="btn-ayuda btn btn-xs btn-info popover-dismiss" 
                            data-toggle="popover" title="Popover title" 
                            data-content="And here's some amazing content. It's very engaging. Right?">
                        ?</button>
                      </div>
                    </td>
                    <td>combo_ref
                      <div>
                        <button type="button" class="btn-ayuda btn btn-xs btn-info popover-dismiss" 
                            data-toggle="popover" title="Popover title" 
                            data-content="And here's some amazing content. It's very engaging. Right?">
                        ?</button>
                      </div>
                    </td>
                    <td>is_nullable
                      <div>
                        <button type="button" class="btn-ayuda btn btn-xs btn-info popover-dismiss" 
                            data-toggle="popover" title="Popover title" 
                            data-content="And here's some amazing content. It's very engaging. Right?">
                        ?</button>
                      </div>
                    </td>
                    <td>data_type <%= btnAyuda() %></td>
                    <td>comments <%= btnAyuda() %></td>
                    <td>vista_grid <%= btnAyuda() %></td>
                    <td>nombre_col_grid <%= btnAyuda() %></td>
                    <td>es_archivo <%= btnAyuda() %></td>
                    <td>carpeta_FTP <%= btnAyuda() %></td>
                    
                    <% if(request.base_url=="127.0.0.1" || 
                            request.base_url=="http://localhost:9292" || 
                            request.base_url=="localhost:9292") %>
                        <td>length <%= btnAyuda() %></td>
                        <td>column_key <%= btnAyuda() %></td>
                        <td>key_name <%= btnAyuda() %></td>
                        <td>esquema_rel <%= btnAyuda() %></td>
                        <td>tabla_rel <%= btnAyuda() %></td>
                        <td>column_rel <%= btnAyuda() %></td>
                    <% end %>
                  </tr>
                  <% val['columnas'].each do |columna, valor| %>
                    <tr><td class="warning"><%= columna %></td>
                      <td>
                        <input type="text" id="<%= columna %>_position" name="<%= columna %>_position" size="3" maxlength="3" 
                          value="<%= valor[:position]%>" class="form-control"/>
                      </td>
                      <td>
                        <input type="text" id="<%= columna %>_default_value" name="<%= columna %>_default_value" 
                          value="<%= valor[:default_value]%>" class="form-control"/>
                      </td>
                      <td>
                        <input type="checkbox" id="<%= columna %>_combo_string" name="<%= columna %>_combo_string"
                        <%= 'checked' if (val['config'][:combo_string_fk].include?(columna)) %>/>
                      </td>
                      <td><%= valor[:is_nullable]%></td>
                      <td><%= valor[:data_type]%></td>
                      <td>
                        <input type="text" id="<%= columna %>_comments" name="<%= columna %>_comments" 
                          value="<%= valor[:comments]%>" class="form-control"/>
                      </td>
                      <td>
                        <input type="checkbox" id="<%= columna %>_ver_engrid" name="<%= columna %>_ver_engrid"
                        <%= 'checked' if (valor[:vista_grid]==true) %>/>
                      </td>
                      <td>
                        <input type="text" id="<%= columna %>_vertexto_engrid" name="<%= columna %>_vertexto_engrid" 
                        value="<%= valor[:texto_grid]%>" class="form-control"/>
                      </td>
                      <td>
                        <input type="checkbox" id="<%= columna %>_es_archivo" name="<%= columna %>_es_archivo"
                        <%= 'checked' if (valor[:es_archivo].eql?('1')) %>/>
                      </td>
                      <td>
                        <input type="text" id="<%= columna %>_carpeta_ftp" name="<%= columna %>_carpeta_ftp" 
                        value="<%= valor[:carpeta_ftp]%>" class="form-control"/>
                      </td>
                      
                      <% if(request.base_url=="127.0.0.1" || 
                            request.base_url=="http://localhost:9292" || 
                            request.base_url=="localhost:9292") %>
                        <td><%= valor[:length]%></td>
                        <td id="key"><%= valor[:column_key]%></td>
                        <td id="keyname"><%= valor[:key_name]%></td>
                        <td id="esquema_relacionada"><%= valor[:esquema_rel]%></td>
                        <td id="tabla_relacionada"><%= valor[:tabla_rel]%></td>
                        <td id="columna_relacionada"><%= valor[:column_rel]%></td>
                      <% end %>
                    </tr>
                  <% end %>
                  <%= '<div class="alert alert-danger"> No tiene columnas está tabla </div>' if (val.length < 1) %>
                </tbody>
              </table>
              <%#= val['columnas'] 
              %>
            </div>
          </div>
        </form>
      <% end %>
      
      <%= '<div class="alert alert-info">No tiene conectada esta base de datos.</div>' if (tablas.length < 1) %>
    </div>
        
    <script>
      $('.popover-dismiss').popover({
        trigger: 'focus'
      })
      
      function before_update(id_fila, id_body){
        var cells_1 = document.getElementById(id_fila).getElementsByTagName('td');
        var filas = document.getElementById(id_body).getElementsByTagName('tr');
        
        for(var i=1; i<cells_1.length-1; i+=1){
          cells_1[i].innerHTML = '<input type="text" id="" name="" class="form-control" value="'+cells_1[i].innerHTML+'"/>';
        }
        for(var i=1; i<cells_2.length-1; i+=1){
          cells_1[i].innerHTML = '<input type="text" id="" name="" class="form-control" value="'+cells_2[i].innerHTML+'"/>';
        }
      }
    </script>        
      
  </body>
</html>        
