<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />

    <title>CRUDig</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="/css/bootstrap_modif.css" rel="stylesheet" media="screen">
    
    <script type="text/javascript" async="" src="/js/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" async="" src="/js/bootstrap.min.js"></script>
    
  </head>  
  <body>
    
    <div class="navbar navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">CRUDig</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <% enlaces.each do |link| %>
               <li><a href="/<%= link%>/listar"><%= link%></a></li>
            <% end %>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="navbar-right"><a href="/caracteristicas">Características</a></li>
            <li class="navbar-right"><a href="/config">Config</a></li>
            <li class="navbar-right"><a href="/config">Versiones</a></li>
            
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Gráficos<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/chartArea">Area</a></li>
                <li><a href="/chartCircle">Círculo</a></li>                
                <li><a href="/chartBar">Barras</a></li>
                <li><a href="/chartColumn">Columnas</a></li>
                <li><a href="/chartCombo">Combo</a></li>
                <li><a href="/chartLine">Líneas</a></li>
                <li class="divider"></li>
                <li><a href="/mycharts">Mis gráficos</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>    
    
        
    <div class="container">    
            
      <% if message != '' %>
        <%= message%>
      <!--<div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>-->
      <% end %>
      
      <div class="row">
        <div class="col-md-6">
          <form method="post" action="/config/conectar">
            <div class="panel panel-default">
              <div class="panel-heading">
                <input type="submit" name="conectar" id="conectar" style="float: right;" 
                    class="btn btn-sm btn-primary" value="Descargar" />
                <input type="submit" name="conectar" id="conectar" style="float: right;" 
                    class="btn btn-sm btn-primary" value="Conectar" />
                <a class="headtabla" data-toggle="collapse" data-parent="#accordion" href="#conexionBD">
                  Conexión con BD</a>
              </div>
              <div class="panel-collapse collapse in" id="conexionBD">
                <table class="table table-condensed table-bordered">
                <thead>
                  <tr class="info">
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><label>Driver</label></td>
                    <td>
                      <select class="form-control" id="driver" name="driver">
                        <option value="Mysql">MySQL</option>
                        <option value="MariaDB">MariaDB</option>
                        <option value="Postgress">PostgreSQL</option>
                        <option value="SQLServer">SQL Server</option>
                        <option value="Oracle">Oracle</option>
                      </select>
                  </tr>                      
                  <tr>
                    <td><label>Dominio</label></td>
                    <td><input type="text" id="dominio" name="dominio" 
                      value="127.0.0.1" class="form-control"/></td>
                  </tr>
                  <tr>
                    <td><label>Base de Datos</label></td>
                    <td><input type="text" id="bd" name="bd" 
                      value="fullcrud" class="form-control"/></td>
                  </tr>
                  <tr>
                    <td><label>Puerto</label></td>
                    <td><input type="text" id="port" name="port" 
                      value="3306" class="form-control"/></td>
                  </tr>                      
                  <tr>
                    <td><label>Usuario</label></td>
                    <td><input type="text" id="usuario" name="usuario" 
                      value="root" class="form-control"/></td>
                  </tr>
                  <tr>
                    <td><label>Contraseña</label></td>
                    <td><input type="password" id="pass" name="pass" 
                      value="" class="form-control"/></td>
                  </tr>
                </tbody>
              </table>
              </div>
            </div>
          </form> 
        </div>  
        <div class="col-md-6">
          <form method="post" action="">
          <div class="panel panel-default">
            <div class="panel-heading">
              <input type="submit" name="conectar" id="conectar" style="float: right;" 
                  class="btn btn-sm btn-primary" value="Conectar" />
              <a class="headtabla" data-toggle="collapse" data-parent="#accordion" href="#conexionHD">
                Conexión con Almacenamiento</a>
            </div>
            <div class="panel-collapse collapse in" id="conexionHD">
              <table class="table table-condensed table-bordered">
              <thead>
                <tr class="info">
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><label>Dominio</label></td>
                  <td><input type="text" id="dominio" name="dominio" 
                    value="127.0.0.1" class="form-control"/></td>
                </tr>
                <tr>
                  <td><label>Base de Datos</label></td>
                  <td><input type="text" id="bd" name="bd" 
                    value="" class="form-control"/></td>
                </tr>
                <tr>
                  <td><label>Usuario</label></td>
                  <td><input type="text" id="usuario" name="usuario" 
                    value="root" class="form-control"/></td>
                </tr>
                <tr>
                  <td><label>Contraseña</label></td>
                  <td><input type="password" id="pass" name="pass" 
                    value="" class="form-control"/></td>
                </tr>
              </tbody>
            </table>
            </div>
          </div>
        </form> 
        </div>
      </div>
        
      <% tablas.each do |tabla, val| %>
        <form method="post" action="/config/edit_table">
          <div class="panel panel-default">
            <div class="panel-heading">
              <input type="button" name="conectar" id="conectar" style="float: right;" 
                  class="btn btn-sm btn-primary" value="Editar" />
              <input type="submit" name="conectar" id="conectar" style="float: right;" 
                  class="btn btn-sm btn-success" value="Guardar" />
              <input type="button" name="conectar" id="conectar" style="float: right;" 
                  class="btn btn-sm btn-danger" value="Cancelar" />
              
                <a class="headtabla" data-toggle="collapse" data-parent="#accordion" href="#form<%= tabla %>"><%= tabla %></a>
              
            </div>
            <div class="panel-collapse collapse in" id="form<%= tabla %>">
              <table class="table table-condensed table-bordered">
                <thead>
                <tr class="info">
                </tr>
                </thead>
                <tbody>
                  <tr class="info"><td>inner_join</td><td>Nombre de Tabla</td><td>Ver Tabla en el menú</td>
                    <td>Insertar por ventana</td><td>Editar por ventana</td><td>tabla_detalle</td>
                    <td>Paginador</td>
                  </tr>
                  <tr>
                    <td id="enlazar_valores_vacios">
                      <input type="text" id="enlazar_valores_vacios" name="enlazar_valores_vacios" 
                        value="<%= val['config'][:inner_join]%>" class="form-control"/>
                    </td>
                    <td id="nombre_tabla">
                      <input type="text" id="nombre_tabla" name="nombre_tabla" 
                        value="<%= val['config'][:nombre_grid]%>" class="form-control"/>
                    </td>
                    <td id="ver_tabla_en_menu">
                      <input type="text" id="ver_tabla_en_menu" name="ver_tabla_en_menu" 
                        value="<%= val['config'][:ver_en_menu]%>" class="form-control"/>
                    </td>
                    <td id="insertar_por_ventana">
                      <input type="text" id="insertar_por_ventana" name="insertar_por_ventana" 
                        value="<%= val['config'][:insert_window]%>" class="form-control"/>
                    </td>
                    <td id="editar_por_ventana">
                      <input type="text" id="editar_por_ventana" name="editar_por_ventana" 
                        value="<%= val['config'][:edit_window]%>" class="form-control"/>
                    </td>
                    <td><%= val['config'][:detalle_de]%>
                      <% if (val['config'][:referencias].length > 0) %>
                        <select class="form-control" id="" name="" >
                        <% val['config'][:referencias].each do | tabla, col | %>
                            <option value="<%= %>" 
                              <%= 'selected' if (params['referencia'].eql?(tabla))%> >
                              <%= tabla%></option>
                        <% end %>
                        </select>
                      <% end %>
                    </td>
                    <td id="paginador">
                      <input type="text" id="paginador" name="paginador" 
                        value="<%= val['config'][:paginador]%>" class="form-control"/>
                    </td>
                  </tr>
                  <%= '<div class="alert alert-danger"> No tiene configuración está tabla </div>' if (val.length < 1) %>
                </tbody>
              </table>
              <%= val['config'] %> 
              
              <table class="table table-condensed table-bordered">
                <thead>
                  <tr class="info"></tr>
                </thead>
                <tbody>
                  <tr class="info"><td>columnas</td><td>position</td><td>default_value</td><td>is_nullable</td>
                    <td>data_type</td><td>length</td><td>comments</td><td>vista_grid</td><td>texto_grid</td>
                    <td>column_key</td><td>key_name</td><td>esquema_rel</td><td>tabla_rel</td><td>column_rel</td>
                  </tr>
                  <% val['columnas'].each do |columna, valor| %>
                    <tr><td class="warning"><%= columna %></td>
                      <td id="position"><%= valor[:position]%></td>
                      <td id="value"><%= valor[:default_value]%></td>
                      <td id="nullable"><%= valor[:is_nullable]%></td>
                      <td id="datatype"><%= valor[:data_type]%></td>
                      <td id="length"><%= valor[:length]%></td>
                      <td id="comments"><%= valor[:comments]%></td>
                      <td id="ver_engrid"><%= valor[:vista_grid]%></td>
                      <td id="vertexto_engrid"><%= valor[:texto_grid]%></td>
                      
                      <td id="key"><%= valor[:column_key]%></td>
                      <td id="keyname"><%= valor[:key_name]%></td>
                      <td id="esquema_relacionada"><%= valor[:esquema_rel]%></td>
                      <td id="tabla_relacionada"><%= valor[:tabla_rel]%></td>
                      <td id="columna_relacionada"><%= valor[:column_rel]%></td>
                      
                    </tr>
                  <% end %>
                  <%= '<div class="alert alert-danger"> No tiene columnas está tabla </div>' if (val.length < 1) %>
                </tbody>
              </table>
              <%= val['columnas'] %>
            </div>
          </div>
        </form>
      <% end %>
    </div>
        
    <script>
      function before_update(id_fila, id_body){
        var cells_1 = document.getElementById(id_fila).getElementsByTagName('td');
        var filas = document.getElementById(id_body).getElementsByTagName('tr');
        
        for(var i=1; i<cells_1.length-1; i+=1){
          cells_1[i].innerHTML = '<input type="text" id="" name="" class="form-control" value="'+cells_1[i].innerHTML+'"/>';
        }
        for(var i=1; i<cells_2.length-1; i+=1){
          cells_1[i].innerHTML = '<input type="text" id="" name="" class="form-control" value="'+cells_2[i].innerHTML+'"/>';
        }
      }
    </script>        
      
  </body>
</html>        
