<!DOCTYPE html>
<html>
  <head>
    <!--  Header  -->
    <%= erb :'headers/_head' %>
  </head>  
  <body>
    
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container_menu">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">CRUDig</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="navbar-right"><a href="/<%= idioma %>/caracteristicas">Contacto</a></li>
            <li class="navbar-right"><a href="/<%= idioma %>/caracteristicas">Nosotros</a></li>
            <li class="navbar-right"><a href="/<%= idioma %>/caracteristicas">Características</a></li>
            <li class="navbar-right"><a href="/<%= idioma %>/config">Config</a></li>
            <li class="navbar-right"><a href="/<%= idioma %>/empezar">Empezar</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container" style="padding-left: 40px; padding-right: 40px;">
      
      <div class="jumbotron">
        <h1>Crudig</h1>
        <p class="lead">Tu manera más rapida de crear un back-end 
          y actualizar tus datos
        </p>
      </div>
      
      <hr>
      
      <div class="row">
        <div class="col-md-6">
          <h3>Conexión a Bases de Datos remota</h3>
          
          <p>Ofrecemos actualmente conexión con los 5 motores de bases de datos
            relacionales más importantes y usados actualmente, 
            MySQL, MaryaDB, PostgreSQL, SQL Server y Oracle.
          </p>
        </div>
        <div class="col-md-6">
          <img class="thumbnail" src="/img/conexiones.jpg" alt="conexiones" width="100%"/>
        </div>
      </div>
      
      <br /><br /><br /><br />
      
      <div class="row">
        <div class="col-md-6">
          <img class="thumbnail" src="/img/configuracion.jpg" alt="conexiones" width="100%"/>
        </div>
        <div class="col-md-6">
          <h3>Amplia configuración</h3>
          
          <p>Configuración de cada tabla de tu base de datos, columnas y 
            otros parámetros a tu gusto y necesidades.
          </p>
        </div>
      </div>
      
      <br /><br /><br /><br />
      
      <div class="row">
        <div class="col-md-6">
          <h3>Tablas detalles de tablas</h3>
          <p>Rápida visualización de la relación de los datos, las relaciones 
            que tiene un dato con todas las tablas del sistema.
          </p>
        </div>
        <div class="col-md-6">
          <img class="thumbnail" src="/img/grid_detalle.jpg" alt="conexiones" width="100%"/>
        </div>
      </div>
      
      <br /><br />
      
      <div class="row">
        <div class="col-md-6">
          <img class="thumbnail" src="/img/insercion.jpg" alt="conexiones" width="100%"/>
        </div>
        <div class="col-md-6">
          <h3>Fácil inserción de datos</h3>
          
          <p>Formulario de inserción desde cualquier grid o tabla, 
            ya sea maestra o detalle.
          </p>
        </div>
      </div>      
      
      <br /><br />
      
      <div class="row">
        <div class="col-md-6">
          <h3>Gráficos a la carta</h3>
          
          <p>Crea tus gráficos según los datos que necesites, como un excel,
             pero con tu base de datos.
          </p>
        </div>
        <div class="col-md-6">
          <img class="thumbnail" src="/img/graficos.jpg" alt="conexiones" width="100%"/>
        </div>
      </div>            
      
      <br /><br />
      
      <div class="row">
        <div class="col-md-6">
          <img class="thumbnail" src="/img/jerarquia.jpg" alt="jerarquia" width="100%"/>
        </div>
        <div class="col-md-6">
          <h3>Relación jerárquica entre tus datos</h3>
          
          <p>Clic derecho en la fila de datos que quieras y seleccionar ver jerarquía, 
            todos los datos relacionados con está fila aparecerán, y también los datos 
            relacionados con estos, hasta una profundidad determinada.
          </p>
        </div>
      </div>      
      
      <br /><br />
      
      <div class="row">
        <div class="col-md-6">
          <h3>Autorefresco de tus datos</h3>
          
          <p>Puedes definir cada cuantos segundos refrescar tus datos (durante un 
            tiempo determinado), es incómodo estár clicando el botón cada vez.
            Debes tener en cuenta la carga del servidor de datos.
          </p>
        </div>
        <div class="col-md-6">
          <img class="thumbnail" src="/img/refrescar.jpg" alt="refrescar" width="100%"/>
        </div>
      </div>                  
      
      <br /><br />
      
      <hr >
      
      <div class="row">
        <div class="col-md-6">
          <img class="thumbnail" src="/img/conexiones.jpg" alt="conexiones" width="100%"/>
        </div>
        <div class="col-md-6">
          <h3>Repositorio de archivos !proximamente¡</h3>
          
          <p>Conexión con tu repositorio de archivos para que puedas guardar
            los archivos que enlazas con tus datos (ej: imagenes de productos).
          </p>
        </div>
      </div>

      <br /><br />
      
      <div class="row">
        <div class="col-md-6">
          <h3>API json !proximamente¡</h3>
          
          <p>Podrá realizar acciones sobre sus datos a través de la url
            obteniendo respuestas en formato JSON.
          </p>
        </div>
        <div class="col-md-6">
          <img class="thumbnail" src="/img/graficos.jpg" alt="conexiones" width="100%"/>
        </div>
      </div>         
      
      <!--
        
      <hr />
      
      <div class="row">
          
          <h3>Planes de Usuarios</h3>
          <br />

          <div class="col-md-4">
              <div class="panel panel-success">
                  <div class="panel-heading">
                      <h4 class="text-center">FREE PLAN</h4>
                  </div>
                  <div class="panel-body text-center">
                      <p class="lead"><strong>Gratis</strong></p>
                  </div>
                  <ul class="list-group list-group-flush text-center">
                      <li class="list-group-item"><i class="icon-ok text-danger"></i>Conexión a todas las BD remotas</li>
                      <li class="list-group-item"><i class="icon-ok text-danger"></i>Configuración básica</li>
                      <li class="list-group-item"><i class="icon-ok text-danger"></i>Tablas detalles de tablas</li>
                      <li class="list-group-item"><i class="icon-ok text-danger"></i>Rápida y fácil inserción de datos</li>
                      <li class="list-group-item"><i class="icon-ok text-danger"></i>Crear gráficos</li>                      
                  </ul>
                  <div class="panel-footer">
                      <a class="btn btn-lg btn-block btn-success" >Obtener!!</a>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="panel panel-info">
                  <div class="panel-heading">
                      <h4 class="text-center">
                          PRO PLAN</h4>
                  </div>
                  <div class="panel-body text-center">
                      <p class="lead"><strong>€20 / mes</strong></p>
                  </div>
                  <ul class="list-group list-group-flush text-center">
                      <li class="list-group-item"><i class="icon-ok text-danger"></i>Conexión a todas las BD remotas</li>
                      <li class="list-group-item"><i class="icon-ok text-danger"></i>Configuración avanzada</li>
                      <li class="list-group-item"><i class="icon-ok text-danger"></i>Tablas detalles de tablas</li>
                      <li class="list-group-item"><i class="icon-ok text-danger"></i>Rápida y fácil inserción de datos</li>
                      <li class="list-group-item"><i class="icon-ok text-danger"></i>Crear y guardar gráficos</li>
                      <li class="list-group-item"><i class="icon-ok text-danger"></i>Relación jerarquica de datos</li>
                      <li class="list-group-item"><i class="icon-ok text-danger"></i>Autorefresco de todas las tablas</li>
                  </ul>
                  <div class="panel-footer">
                      <a class="btn btn-lg btn-block btn-info" >Obtener!!</a>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="panel panel-primary">
                  <div class="panel-heading">
                      <h4 class="text-center">SILVER PLAN</h4>
                  </div>
                  <div class="panel-body text-center">
                      <p class="lead"><strong>€50 / mes</strong></p>
                  </div>
                  <ul class="list-group list-group-flush text-center">
                      <li class="list-group-item"><i class="icon-ok text-danger"></i>Conexión a todas las BD remotas</li>
                      <li class="list-group-item"><i class="icon-ok text-danger"></i>Configuración avanzada</li>
                      <li class="list-group-item"><i class="icon-ok text-danger"></i>Tablas detalles de tablas</li>
                      <li class="list-group-item"><i class="icon-ok text-danger"></i>Rápida y fácil inserción de datos</li>
                      <li class="list-group-item"><i class="icon-ok text-danger"></i>Crear y guardar gráficos</li>
                      <li class="list-group-item"><i class="icon-ok text-danger"></i>Relación jerarquica de datos</li>
                      <li class="list-group-item"><i class="icon-ok text-danger"></i>Autorefresco de todas las tablas</li>
                      <li class="list-group-item"><i class="icon-ok text-danger"></i>Subida de archivos a repositorio externo</li>
                      <li class="list-group-item"><i class="icon-ok text-danger"></i>Utilizar API JSON</li>                      
                  </ul>
                  <div class="panel-footer">
                      <a class="btn btn-lg btn-block btn-primary" >Obtener!!</a>
                  </div>
              </div>
          </div>
      </div>
      -->

      <div class="footer">
        <p>CRUDig 2015</p>
      </div>
                      
    </div>     

              
  </body>
</html>        
