<!DOCTYPE html>
<html>
	<head>
	  <meta charset="utf-8" />

		<title>CRUDig</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<link href="/css/bootstrap.css" rel="stylesheet" media="screen">
		<link href="/css/bootstrap_modif.css" rel="stylesheet" media="screen">
		
		<script type="text/javascript" src="/js/jquery-1.10.1.min.js"></script>
		<script type="text/javascript" src="/js/bootstrap.min.js"></script>
		
	</head>  
	<body>
    
    <div class="navbar navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">CRUDig</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <% enlaces.each do |link| %>
               <li class="active"><a href="/<%= idioma %>/<%= link%>/listar"><%= link%></a></li>
            <% end %>
            <li class="active navbar-right"><a href="/<%= idioma %>/config">Config</a></li>
            <li class="active navbar-right"><a href="/<%= idioma %>/config">Versiones</a></li>  
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>	  
		
		<%= yield %>
		
	</body>
</html>