<%
paginador = ''

if (filas['filas_total'] && filas['filas_total']['0'])
  paginas = filas['filas_total']['0']['total'].to_i / tablas[tabla]['config'][:paginador].to_i
  
  paginador = '<ul class="pagination pull-right"><li><a href="/'+tabla+'/listar">&laquo;</a></li>' if (paginas > 0)
  
  (paginas-1).times do |i|
    paginador=paginador +'<li><a href="/'+tabla+'/listar/'+(tablas[tabla]['config'][:paginador] * (i+1)).to_s+'">'+(i+2).to_s+'</a></li>'
  end 
  
  if (paginas > 0)
    paginador=paginador +'<li><a href="/'+tabla+'/listar/'+(tablas[tabla]['config'][:paginador] * paginas).to_s+'">&raquo;</a></li></ul>'
  end
end
%>

            
<% def crear_modal_agregar(tablas, tabla, filas) %>
            
      <!-- Modal Agregar-->
            
            
      <div class="modal fade" id="agregarfila_<%= tabla%>" name="agregarfila" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel">Nuevo registro de <%= tabla%></h4>
            </div>
            <div class="modal-body">
              <form method="post" onsubmit="return agregarPopPup(this)" action="/<%= tabla%>/create_json" 
                  id="agregarform" name="agregarformPopPup" 
                  class="form-horizontal" enctype="multipart/form-data" >
                    <% tablas[tabla]['columnas'].each do |col, value| %>
                    <div class="form-group">
                      <label for="<%= col%>" class="col-sm-2 control-label"><%= col%></label>
                      <div class="col-sm-10">
                      <% if (value[:column_rel]) %>
                          <select class="form-control" id="<%= col%>" name="<%= col%>" required>
                            <% filas[value[:tabla_rel]].each do |id, fila| %>
                                <option value="<%= fila[value[:column_rel]]%>" 
                                  <%= 'selected' if (params[col].eql?(fila[value[:column_rel]]))%> >
                                  <%= fila[value[:column_rel]]%></option>
                            <% end %>
                          </select>
                      <% elsif(value[:es_archivo].eql?('1')) %>
                          <input class="form-control" type="file" id="<%= col%>" name="<%= col%>" />
                      <% else %>
                        <input type="search" id="<%= col%>" name="<%= col%>" value="<%= params[col]%>" 
                            maxlength="<%= value[:length] if value[:length]%>" class="form-control"
                            <%= 'required' if value[:column_key]=='PRI' %>/>
                      <% end %>
                      </div>
                    </div>
                    <% end %>
                <br />
      
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <input type="submit" name="agregarbtn" class="btn btn-info" value="Crear Nuevo">
              </form>
            </div>
          </div>
        </div>
      </div>
      
   <% return '' %>
<% end %>


<% def crear_modal_editar(tablas, tabla, filas) %>
      
      <!-- Modal Editar-->
      
      <div class="modal fade" id="editarfila_<%= tabla%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width: 600px;">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel">Editando registro de <%= tabla%></h4>
            </div>
            <div class="modal-body">
              <form method="get" action="/<%= tabla%>/update_id_json" id="editarform" name="editarform" 
                  class="form-horizontal" role="form">
                    <% tablas[tabla]['columnas'].each do |col, value| %>
                    <div class="form-group">
                      <label for="<%= col%>" class="col-sm-2 control-label"><%= col%></label>
                      <div class="col-sm-10">
                      <% if (value[:column_rel]) %>
                          <select class="form-control" id="<%= col%>" name="<%= col%>" required>
                            <% filas[value[:tabla_rel]].each do |id, fila| %>
                                <option value="<%= fila[value[:column_rel]]%>" 
                                  <%= 'selected' if (params[col].eql?(fila[value[:column_rel]]))%> >
                                  <%= fila[value[:column_rel]]%></option>
                            <% end %>
                          </select>
                      <% elsif(value[:es_archivo].eql?('1')) %>
                          <input class="form-control" type="file" id="<%= col%>" name="<%= col%>" />                          
                      <% else %>
                        <input type="search" id="<%= col%>" name="<%= col%>" value="<%= params[col]%>" 
                            maxlength="<%= value[:length] if value[:length]%>" class="form-control"
                            <%= 'required' if value[:column_key]=='PRI' %>/>
                      <% end %>
                      </div>
                    </div>
                    <% end %>
                <br />
      
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <input type="submit" name="editarbtn" class="btn btn-info" value="Guardar Cambios">
              </form>
            </div>
          </div>
        </div>
      </div>
      
   <% return '' %>
<% end %>


            
<% def crear_modal_add_informe(tabla) %>
            
      <div class="modal fade" id="addlistado_<%= tabla%>" name="addlistado" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="myModalLabel">Guardar nuevo informe</h4>
            </div>
            <div class="modal-body">
              <form method="post" onsubmit="return agregarPopPup(this)" action="/<%= tabla%>/create_json" 
                  id="agregarform" name="agregarformPopPup" 
                  class="form-horizontal" enctype="multipart/form-data" >
                    
                    <div class="form-group">
                      <label for="nom_listado" class="col-sm-4 control-label">Nombre</label>
                      <div class="col-sm-8">
                        <input class="form-control" type="text" id="nom_listado" name="nom_listado" />
                      </div>
                    </div>
                    
                    <div class="form-group">
                      <label for="titulo_listado" class="col-sm-4 control-label">Título del listado</label>
                      <div class="col-sm-8">                                            
                        <input class="form-control" type="text" id="titulo_listado" name="titulo_listado" />
                      </div>
                    </div>
                <br />
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <input type="submit" name="agregarbtn" class="btn btn-info" value="Crear Nuevo">
              </form>
            </div>
          </div>
        </div>
      </div>
      
   <% return '' %>
<% end %>




<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />

    <title>CRUDig</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="/css/bootstrap_modif.css" rel="stylesheet" media="screen">
    
    <script type="text/javascript" src="/js/jquery-1.10.1.min.js"></script>
    
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    
  </head>  
  <body>
    
    <div class="navbar navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">CRUDig</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <% enlaces.each do |link| %>
               <li><a href="/<%= link%>/listar"><%= link%></a></li>
            <% end %>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            
            <li class="navbar-right dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= idioma%><b class="caret"></b></a>
              <ul class="dropdown-menu">
                <% if (idioma != 'ES' ) %>   <li><a href="/ES/">ES</a></li> <% end %>
                <% if (idioma != 'EN' ) %>   <li><a href="/EN/">EN</a></li> <% end %>
                <% if (idioma != 'FR' ) %>   <li><a href="/FR/">FR</a></li> <% end %>
                <% if (idioma != 'DE' ) %>   <li><a href="/DE/">DE</a></li> <% end %>
                <% if (idioma != 'IT' ) %>   <li><a href="/IT/">IT</a></li> <% end %>
                <% if (idioma != 'PR' ) %>   <li><a href="/PR/">PR</a></li> <% end %>
              </ul>
            </li>
            
            <li class="navbar-right dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Info<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/ayuda">Ayuda</a></li>
                <li><a href="/caracteristicas">Características</a></li>
                <li><a href="/config">Versiones</a></li>
                <li class="divider"></li>
                <li><a href="/demos">Demos</a></li>
              </ul>
            </li>

            <li class="navbar-right dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Config<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/configuraciones">Configuraciones</a></li>
                <li class="divider"></li>
                <li><a href="/config">Nueva configuración</a></li>
              </ul>
            </li>
            
            <li class="navbar-right dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Gráficos<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/chartArea">Area</a></li>
                <li><a href="/chartCircle">Círculo</a></li>                
                <li><a href="/chartBar">Barras</a></li>
                <li><a href="/chartColumn">Columnas</a></li>
                <li><a href="/chartCombo">Combo</a></li>
                <li><a href="/chartLine">Líneas</a></li>
                <li class="divider"></li>
                <li><a href="/mycharts">Mis gráficos</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>    
    
          
    <div class="container">
      
      <div id="mensaje">
        <% if message != '' %>
        <div class="alert alert-success">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= message%>
        </div>
        <% end %>
      </div>
      
      <div class="panel panel-default">
        <div class="panel-heading">
          <%= paginador %>
          <label class="pull-right" style="margin: 0px 15px;">Viendo desde __ a __</label>
          <label><b><%= tabla%></b></label>
        </div>
        
        <table class="table table-condensed table-bordered">
      		<thead>
        		<tr class="info">
        		  <th><a href="/<%= tabla%>/listar"><span class="glyphicon glyphicon-refresh"></span></a>
        		    <div class="btn-group">        		            
                  <button type="button" class="btn btn-default btn-xs btn_a dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                  </button>
                  
                  <ul class="dropdown-menu">
                    <li role="presentation" class="dropdown-header">Refrescar cada :</li>
                    <li><a href="/refrescar/<%= tabla%>/10">10 seg</a></li>
                    <li><a href="/refrescar/<%= tabla%>/15">15 seg</a></li>
                    <li><a href="/refrescar/<%= tabla%>/20">20 seg</a></li>
                    <li><a href="/refrescar/<%= tabla%>/25">25 seg</a></li>
                    <li class="divider"></li>
                    <li><a href="/refrescar/<%= tabla%>/0">Quitar</a></li>
                    <li><a href="/refrescar/<%= tabla%>">Quitar todos</a></li>
                  </ul>
                </div>
        		    
        		    <div class="btn-group">
                  <button type="button" class="btn btn-default btn-xs btn_a dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-print"></span><span class="caret" style="margin-left: 5px"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a target="_blank" href="/<%= tabla %>/generatepdf">Imprimir</a></li>
                    <li><a href="" data-toggle="modal" data-target="#addlistado_<%= tabla%>">Guardar nuevo</a></li>
                    
                    <li class="divider"></li>
                    <li role="presentation" class="dropdown-header">Mis informes :</li>
                    <% if (listados[tabla] && listados[tabla].length < 1) %>
                      <% listados[tabla].each do |fila, values| %>
                        <li><a href="<%= values[:url] %>"><%= values[:nombre] %></a></li>
                      <% end %>
                    <% else %>
                      <li role="presentation" class="dropdown-header"> - Ninguno - </li>
                    <% end %>
                  </ul>
                </div>
        		  </th>
        		  <% tablas[tabla]['columnas'].each do |col, value| %>
                  <th><a href="/<%= tabla%>/listar?order=<%= order[:order]%>&field=<%= col%>"><%= col%>
                    <% if (order[:order] == 'desc') %>
                      <span class="glyphicon glyphicon-chevron-up"></span></a>
                    <% else %>
                      <span class="glyphicon glyphicon-chevron-down"></span></a>
                    <% end %>
                  </th>
                  
<!--              <% if (value[:column_rel]) %>
                    <th><a href="/<%= tabla%>/listar?order=<%= order[:order]%>&field=<%= value[:tabla_rel]+'_'+value[:column_rel]%>">
                          <%= value[:tabla_rel]+'_'+value[:column_rel]%>
                      <% if (order[:order] == 'desc') %>
                        <span class="glyphicon glyphicon-chevron-up"></span></a>
                      <% else %>
                        <span class="glyphicon glyphicon-chevron-down"></span></a>
                      <% end %>
                    </th>
                  <% end %>  -->
              <% end %>
        		</tr>

      		  <form action="/<%= tabla%>/listar" method="get" name="buscar" id="form_buscar1">
        			<tr>
      				  <td>
        				  <a href="" class="btn btn-default btn-xs btn_a" 
        				    data-toggle="modal" data-target="#agregarfila_<%= tabla%>" onclick="agregar()">
        				      <span class="glyphicon glyphicon-plus"></span>
        				  </a>
        				  <a href="/<%= tabla%>" class="btn btn-default btn-xs btn_a" onclick="document.forms[0].submit(); return false;">
        				    <span class="glyphicon glyphicon-search"></span>
        				  </a>
      					<!--<td><input type="submit" value="Add"/>
      					     <input type="submit" value="Search"/> -->
      					</td>
      					<% tablas[tabla]['columnas'].each do |col, value| %>
        					  <td>
        					  <% if (value[:column_rel] && value[:column_key]=='PRI') %>
          					    <select class="form-control" id="<%= col%>" name="<%= col%>" >
          					      <option value="">-Todos-</option>
          					      <% filas[value[:tabla_rel]].each do |id, fila| %>
          					      
              					      <option value="<%= fila[value[:column_rel]]%>" 
              					        <%= 'selected' if (params[col].eql?(fila[value[:column_rel]]))%> 
              					        ><%= fila[ tablas[value[:tabla_rel]]['config'][:combo_string_fk].first ] %></option>
          					      <% end %>
          					    </select>
          					  </td>
<!--       					  <td>
                        <input type="search" class="form-control"
                            id="<%= value[:tabla_rel]+'_'+value[:column_rel]%>" 
                            name="<%= value[:tabla_rel]+'_'+value[:column_rel]%>" 
                            value="<%= params[value[:tabla_rel]+'_'+value[:column_rel]] %>" />    -->
        					  <% else %>
                      <input type="search" id="<%= col%>" name="<%= col%>" value="<%= params[col]%>" class="form-control" >
                    <% end %>
                    </td>
                <% end %>
        			</tr>
        		</form>	
      		</thead>
          <tbody>
      		<% filas[tabla].each do |key, en| %>
      			<form action="/<%= tabla%>/update_json" method="get" name="form_editar" id="form_editar_<%= tabla+key%>">
      			  <tr id="<%= tabla+key%>">
      			    <td width="95px">
      			      <div class="btn-group">
                    <button type="button" class="btn btn-default btn-xs btn_a dropdown-toggle" data-toggle="dropdown">
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                      <li><a href="" data-toggle="modal" data-target="#editarfila_<%= tabla%>" >
                          Editar en ventana</a>
                      </li>
                      <%  ids = ''
                        en.each do |col, valor| 
                          if (tablas[tabla]['columnas'][col] && tablas[tabla]['columnas'][col][:column_key]=='PRI')
                            if(ids.eql? '')
                              ids = ids+col.to_s+'='+valor.to_s
                            else
                              ids = ids+'&'+col.to_s+'='+valor.to_s
                            end
                          end
                        end
                      %>
                      <li><a href="/jerarquiaUp/<%= (tabla+'?'+ids) %>" target="_blank">Jerarquía hacia arriba</a></li>
                      <li><a href="/jerarquiaDown/<%= (tabla+'?'+ids) %>" target="_blank">Jerarquía hacia abajo</a></li>
                    </ul>
                  </div>
                  
        				  <a href="#" id="edit_save_<%= tabla+key%>" class="btn btn-default btn-xs btn_a"
        				    onclick="before_update('<%= tabla+key%>'); return false;">
        				    <span class="glyphicon glyphicon-pencil" title="Editar"></span></a>
        				  <a href="#" id="delete_cancel_<%= tabla+key%>" class="btn btn-default btn-xs btn_a"
        				    onclick="setIdEliminarModal('<%= tabla+key%>'); return false;"
        				    data-toggle="modal" data-target="#msgDelete">
                    <span class="glyphicon glyphicon-trash" title="Eliminar"></a>
        				</td>
        				<% en.each do |col, valor| %>
      				    <% if (tablas[tabla]['columnas'][col] && tablas[tabla]['columnas'][col][:column_rel]) %>
      				      <td>
      				        <a href="/<%= tablas[tabla]['columnas'][col][:tabla_rel]%>/listar?<%= col+'='+valor%>"
      				          id="enlace_<%= col%>" idlista="<%= valor%>" combo="<%= col%>"><%= valor%></a>
      				          <!-- falta agregar el campo que visualiza el texto del enlace
      				            por defecto el la clave ajena
      				            -->
      				      </td>
      				    <% else if (tablas[tabla]['columnas'][col]) %>
      				      <td fila="<%= col%>"><%= valor %></td>
      				    <% end end %>
      				  <% end %>
      			  </tr>
      			</form>
      			<% end %>  			  
      		</tbody>
      	</table> 
      	<%= '<div class="alert alert-danger"> No tiene datos está tabla </div>' if (filas[tabla].length < 1) %>
      	<%#= tablas[tabla]['columnas']  	
      	%>
      	<%#= filas 
      	%>
      	
<!--        	<div class="panel-footer">
        	  <%#= paginador 
        	  %>
            <label>Viendo desde __ a __</label>
   </div>-->
      </div>
      
      <%=  crear_modal_add_informe(tabla) %>      
      <%=  crear_modal_agregar(tablas, tabla, filas) %>
      <%=  crear_modal_editar(tablas, tabla, filas) %>
    

      <!-- Grid detalle -->
      <ul class="nav nav-tabs" id="detalle_grid">
      <% tablas[tabla]['config'][:referidas].each do |tabla_ref| %>
          <li><a href="#<%= tabla_ref%>" data-toggle="tab"><%= tabla_ref%></a></li>          
      <% end %>
          <li><a href="#graficos_<%= tabla%>" data-toggle="tab">Gráficos</a></li>
      </ul>
 <!--       <div class="tab-content">
          <div class="tab-pane active" id="home"> 
          <div class="tab-pane" id="profile"><p>asdasdasd wwwww</p></div>
          <div class="tab-pane" id="messages"><p>asdasdasd ****** </p></div>
          <div class="tab-pane" id="settings"><p>asdasdasd ________  aaaaa</p></div>
        </div>  -->
      
      <% #if (tablas[tabla]['config'][:detalle_de] != '') 
          #tabla_detalle = tablas[tabla]['config'][:detalle_de]
          #puts tablas[tabla]['config'][:referidas]
          #puts tablas['dept_emp']
=begin            
  dept_emp
  dept_manager
  salaries
  titles
=end
      %>
      
      <div class="tab-content">
        <%  referencias = {}
=begin              if (tablas[tabla]['config'][:referidas].length > 1)
                referencias = tablas[tabla]['config'][:referidas]
              else
                referencias = tablas[tabla]['config'][:detalle_de]
              end
=end             
            referencias = tablas[tabla]['config'][:referidas] 
        %>
        <% referencias.each do |tabla_detalle|  %>  
          <div class="tab-pane active" id="<%= tabla_detalle %>">  
            <div class="panel panel-default">
              <div class="panel-heading">
                <%= paginador %>
                <label><b><%= tabla_detalle %></b></label>
              </div>
              
              <table class="table table-condensed table-bordered">
                <thead>
                  <tr class="info">
                    <th>
                      <a href="/<%= tabla_detalle%>/listar"><span class="glyphicon glyphicon-refresh"></span></a>
                      
                      <div class="btn-group">
                        <button type="button" class="btn btn-default btn-xs btn_a dropdown-toggle" data-toggle="dropdown">
                          <span class="glyphicon glyphicon-print"></span><span class="caret" style="margin-left: 5px"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                          <li><a target="_blank" href="/<%= tabla_detalle %>/generatepdf">Imprimir</a></li>
                          <li><a href="" data-toggle="modal" data-target="#addlistado_<%= tabla_detalle%>">Guardar nuevo</a></li>
                          
                          <li class="divider"></li>
                          <li role="presentation" class="dropdown-header">Mis informes :</li>
                          <% if (listados[tabla_detalle] && listados[tabla_detalle].length < 1) %>
                            <% listados[tabla_detalle].each do |fila, values| %>
                              <li><a href="<%= values[:url] %>"><%= values[:nombre] %></a></li>
                            <% end %>
                          <% else %>
                            <li role="presentation" class="dropdown-header"> - Ninguno - </li>
                          <% end %>
                        </ul>
                      </div>
                    </th>
                    <% tablas[tabla_detalle]['columnas'].each do |col, value| %>
                      <th><a href="/<%= tabla%>/listar?g_o=<%= order[:grid2_order]%>&g_f=<%= col%>&g_g=<%= tabla_detalle%>"><%= col%>
                        <% if (order[:grid2_order] == 'desc') %>
                          <span class="glyphicon glyphicon-chevron-up"></span></a>
                        <% else %>
                          <span class="glyphicon glyphicon-chevron-down"></span></a>
                        <% end %>
                      </th>
<!--                  <% if (value[:column_rel]) %>
                        <th><a href="/<%= tabla_detalle%>/listar?g_o=<%= order[:grid2_order]%>&g_f=<%= value[:tabla_rel]+'_'+value[:column_rel]%>&g_g=<%= tabla_detalle%>">
                              <%= value[:tabla_rel]+'_'+value[:column_rel]%>
                          <% if (order[:grid2_order] == 'desc') %><span class="glyphicon glyphicon-chevron-up"></span></a>
                          <% else %>                <span class="glyphicon glyphicon-chevron-down"></span></a>
                          <% end %>
                        </th>
                      <% end %>     -->
                    <% end %>
                  </tr>

                  <form action="/<%= tabla_detalle%>/listar" method="get" name="buscar" id="form_buscar2_<%= tabla_detalle%>">
                    <tr>
                      <td>                          
                        <a href="" class="btn btn-default btn-xs btn_a" 
                          data-toggle="modal" data-target="#agregarfila_<%= tabla_detalle%>" onclick="agregar()">
                            <span class="glyphicon glyphicon-plus"></span>
                        </a>
                        <a href="/<%= tabla_detalle%>" class="btn btn-default btn-xs btn_a" 
                          onclick="buscar_tabs('form_buscar2_<%= tabla_detalle%>'); return false;">
                          <span class="glyphicon glyphicon-search"></span>
                        </a>
                      <!--<td><input type="submit" value="Add"/>
                           <input type="submit" value="Search"/> -->
                      </td>
                      <% tablas[tabla_detalle]['columnas'].each{ |col, value| %>
                          <td>
                            <%  #  filas[:filas_detalle][tabla_detalle]
                            %>
                          <% if (value[:column_rel] && value[:column_key]=='PRI')
                                filas_sub_grid = filas[:filas_detalle][tabla_detalle]
                                if (filas_sub_grid[value[:tabla_rel]]) %>
                                <select class="form-control" id="<%= col%>" name="<%= col%>" >
                                  <option value="">-Todos-</option>
                                  <% filas_sub_grid[value[:tabla_rel]].each do |id, fila| %>
                                      <option value="<%= fila[value[:column_rel]]%>" 
                                        <%= 'selected' if (params[col].eql?(fila[value[:column_rel]]))%> >
                                        <%= fila[ tablas[value[:tabla_rel]]['config'][:combo_string_fk].first ] %></option>
                                  <% end %>
                                </select>
                                <% else %>
                                  <input type="search" id="<%= col%>" name="<%= col%>" value="<%= params[col]%>" class="form-control"/>
                                <% end %>
                                </td>
<!--                            <td>
                                  <input type="search" class="form-control"
                                    id="<%= value[:tabla_rel]+'_'+value[:column_rel]%>" 
                                    name="<%= value[:tabla_rel]+'_'+value[:column_rel]%>" 
                                    value="<%= params[value[:tabla_rel]+'_'+value[:column_rel]] %>" />    -->
                          <% else %>
                            <input type="search" id="<%= col%>" name="<%= col%>" value="<%= params[col]%>" class="form-control"/>
                          <% end %>
                          </td>
                      <%  } %>
                    </tr>
                  </form>
                </thead>
                <tbody>                    
                  <%#= filas[:filas_detalle] 
                  %>
                  <%  filas_detalle = {}
                      if (filas[:filas_detalle][tabla_detalle])
                      #if (filas[tabla_detalle])
                        filas_detalle = filas[:filas_detalle][tabla_detalle][tabla_detalle]
                      end 
                  %>
                  <% filas_detalle.each do |key, en| %>
                    <tr id="<%= tabla_detalle+key%>">
                      <form action="/<%= tabla_detalle%>/update_json" method="get" name="form_editar" id="form_editar_<%= tabla_detalle+key%>">
                        <td width="95px">
                          <div class="btn-group">
                            <button type="button" class="btn btn-default btn-xs btn_a dropdown-toggle" data-toggle="dropdown">
                              <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                              <li><a href="" data-toggle="modal" data-target="#editarfila_<%= tabla_detalle%>" >
                                  Editar en ventana</a>
                              </li>
                              <%  ids = ''
                                en.each do |col, valor| 
                                  if (tablas[tabla_detalle]['columnas'][col] && tablas[tabla_detalle]['columnas'][col][:column_key]=='PRI')
                                    if(ids.eql? '')
                                      ids = ids+col.to_s+'='+valor.to_s
                                    else
                                      ids = ids+'&'+col.to_s+'='+valor.to_s
                                    end
                                  end
                                end
                              %>
                              <li><a href="/jerarquiaUp/<%= (tabla_detalle+'?'+ids) %>" target="_blank">
                                Jerarquía hacia arriba</a></li>
                              <li><a href="/jerarquiaDown/<%= (tabla_detalle+'?'+ids) %>" target="_blank">
                                Jerarquía hacia abajo</a></li>
                            </ul>
                          </div>
                          
                          <a href="/<%= tabla_detalle %>/<%= key %>" class="btn btn-default btn-xs btn_a"
                            onclick="before_update('<%= tabla_detalle+key%>'); return false;">
                            <span class="glyphicon glyphicon-pencil" title="Editar"></span></a>
                          <a href="/<%= tabla_detalle %>/<%= key %>" class="btn btn-default btn-xs btn_a"
                            onclick="cancel_update('<%= tabla_detalle+key %>'); return false;">
                            <span class="glyphicon glyphicon-trash" title="Eliminar"></a>
                          <!--<form action="/<%= tabla%>/<%= key%>" method="post">
                            <input type="hidden" name="_method" value="delete" />
                            <input type="submit" value="Delete" class="btn btn-default"/>
                          </form>-->
                        </td>
                        <% en.each do |col, valor| %>
                          <% if (tablas[tabla_detalle]['columnas'][col] && tablas[tabla_detalle]['columnas'][col][:column_rel]) %>
                            <td>
                              <a href="/<%= tablas[tabla_detalle]['columnas'][col][:tabla_rel]%>/listar?<%= col+'='+valor%>"
                                id="enlace_<%= col%>" combo="<%= col%>"><%= valor%></a></td>
                          <% else   if (tablas[tabla_detalle]['columnas'][col]) %>
                            <td fila="<%= col%>"><%= valor%></td>
                          <% end    end%>
                        <% end %>
                      </form>
                    </tr>
                  <% end %>   
                </tbody>
              </table>
              <%= '<div class="alert alert-danger"> No tiene datos está tabla </div>' if (filas_detalle.length < 1) %>
            </div>
            
          </div>
          
          <%=  crear_modal_add_informe(tabla_detalle) %>
          <%=  crear_modal_agregar(tablas, tabla_detalle, filas[:filas_detalle][tabla_detalle]) %>
          <%=  crear_modal_editar(tablas, tabla_detalle, filas[:filas_detalle][tabla_detalle]) %>
        <% end %>
        
        
        <div class="tab-pane active" id="graficos_<%= tabla%>">
            <div class="panel panel-default">
              
              Aquí van los gráficos de esta tabla
              
            </div>
        </div>
      </div>
    </div> 


      <!-- desea editar -->
      <div class="modal fade" id="msgUpdate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width: 400px;">
          <div class="modal-content">
            <div class="modal-body">
              <h4>¿Seguro que desea actualizar estos datos?</h4>
              <button type="submit" class="btn btn-info" data-dismiss="modal" id="update_boton"
                onclick="final_update('', true); return false;" >Sí, actualizar los datos</button>
              <button type="button" class="btn btn-default" data-dismiss="modal" id="cancel_boton"
                onclick="final_update('', false); return false;" >No, cancelar datos</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">No, cerrar</button>
            </div>
          </div>
        </div>
      </div>
      
      
      <!-- desea eliminar -->
      <div class="modal fade" id="msgDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width: 400px;">
          <div class="modal-content">
            <div class="modal-body">
              <h4>¿Seguro que desea eliminar estos datos?</h4>
              <button type="submit" class="btn btn-info" data-dismiss="modal" id="delete_boton"
                onclick="eliminar_fila('', true); return false;" >Sí, eliminar los datos</button>
              <button type="button" class="btn btn-default" data-dismiss="modal" >No, cancelar</button>
            </div>
          </div>
        </div>
      </div>      
      

      <script>
      
        <% if (timers[tabla]) 
              segundos = timers[tabla][:segundos].to_i
              segundos = 15 if (segundos.eql? '' || segundos < 50)
        %>
          <%= 'setTimeout("location.reload(true);",'+segundos.to_s+'000);' %>
          <%#= 'timeRefreshPage('+timers[tabla]+');'
          %>
        <% end %>      

        
        function agregarPrueba(){
          alert('asdasd');
          return false;
        }
        
        function agregarPopPup(esto){
          // Get some values from elements on the page:
          var $form = $( esto ),
            term = $form.serialize(),
            url = $form.attr( "action" );
         
          // Send the data using post     
          $.getJSON( url, term )         
              .done(function( json ) {
                //var content = $(data).find("#content");
                //if (json["valido"] == 1) {
                if (json.valido == '1') {
                  $("#mensaje").empty().append('<div class="alert alert-success">'+
                    '<button type="button" class="close" data-dismiss="alert">&times;</button>'+json.mensaje+'</div>');
                }else{
                  $("#mensaje").empty().append('<div class="alert alert-danger">'+
                    '<button type="button" class="close" data-dismiss="alert">&times;</button>'+json.mensaje+'</div>');
                }
              })
              .fail(function( jqxhr, textStatus, error ) {
                $("#mensaje").empty().append('<div class="alert alert-danger">'+
              '<button type="button" class="close" data-dismiss="alert">&times;</button>'+textStatus+", "+error+'</div>');
          });
          ids = document.getElementsByName("agregarfila");
          for(var i=0; i<ids.length; i+=1){
            $("#"+ids[i].getAttribute("id") ).modal('hide');
          }
          
          return false;
        }  
        
        
        function before_update(id){
          var cells = document.getElementById(id).getElementsByTagName('td');
          var texto = '';
          var hijos;
          for(var i=1; i<cells.length; i+=1){
            nameCol= cells[i].getAttribute("fila");
            texto = '<input type="text" id="" name="'+nameCol+'" class="form-control" ';
            texto += 'oldvalue="'+cells[i].innerHTML+'" value="'+cells[i].innerHTML+'"/>';
            
            hijos = cells[i].getElementsByTagName('a');
            if( hijos && hijos.length > 0) {
              //texto = cells[i].firstChild.innerHTML;
              var combo_id = hijos[0].getAttribute('combo');
              var idlista = hijos[0].getAttribute('idlista');
              texto = document.getElementById(combo_id).cloneNode(true);
              
              for(var j = 0; j < texto.length; j++){
                if(texto.options[j].value == idlista)
                  texto.selectedIndex = j;
              }
              //texto.value = idfila;
              texto.setAttribute("name", nameCol);
              texto.setAttribute("enlace", hijos[0].href);
              texto.setAttribute("oldvalue", idlista);
              //texto.value = idfila;
              cells[i].innerHTML = "";
              cells[i].appendChild(texto);
              
              texto = texto.outerHTML;
            } else {
              cells[i].innerHTML = texto;
            }
          }
          cambiar_span('delete_cancel_'+id, id, 'glyphicon glyphicon-remove', 'Cancelar', 'cancel_update');
          cambiar_span('edit_save_'+id, id, 'glyphicon glyphicon-save', 'Guardar', 'final_update');
          return false;
        }
        
        function changeRowUpdated(id){
          var cells = document.getElementById(id).getElementsByTagName('td');
          var texto = '';
          var hijos;
          for(var i=1; i<cells.length; i+=1){
            texto = cells[i].firstChild.value;
            hijos = cells[i].getElementsByTagName('select');
            if( hijos && hijos.length > 0) {
              texto = '<a href="'+hijos[0].getAttribute('enlace')+'" id="enlace_'+hijos[0].id+'" ';
              texto += 'idlista="'+hijos[0].value+'" combo="'+hijos[0].id+'">';
              texto += hijos[0].options[hijos[0].selectedIndex].text+'</a>';
            }
            cells[i].innerHTML = texto;
          }
          cambiar_span('delete_cancel_'+id, id, 'glyphicon glyphicon-trash', 'Eliminar', 'eliminar_fila');
          cambiar_span('edit_save_'+id, id, 'glyphicon glyphicon-pencil', 'Editar', 'before_update');
          
          document.getElementById(id).setAttribute("style","background-color: #dff0d8;");
          setMensaje("Datos modificados con éxito", "success");
        }
        
        function final_update(id, actualizar){
          //  seguro que quieres guardar
          //alert("form_editar_"+id);
          if(actualizar == true){
            //  si
            var formEdit = document.getElementById("form_editar_"+id);
            //alert(document.getElementById(id).innerHTML )
            alert(formEdit.action+mySerialize(id))
            url = formEdit.action+mySerialize(id)
            $.getJSON( url )
              .done(function(data) {
                alert( "bien--"+data );
                changeRowUpdated(id);
              })
              .fail(function(data) {
                alert( data.mensaje );
                setMensaje("Error al actualizar los datos", "danger");
              });
          }else if(actualizar == false){
            //  no          
            cancel_update(id);
          }
          return false;
        }
        
        function mySerialize(id){
          var params = "?";
          var tr = document.getElementById(id);
          var inputs = tr.getElementsByTagName("input");
          var combos = tr.getElementsByTagName("select");
          
          for(var i=0; i < inputs.length; i+=1){
            params += "&"+inputs[i].getAttribute("name")+'='+inputs[i].value;
          }
          for(var i=0; i < combos.length; i+=1){
            params += "&"+combos[i].getAttribute("name")+'='+inputs[i].value;
          }
          return params;
        }
        
        function cancel_update(id){
          var cells = document.getElementById(id).getElementsByTagName('td');
          var texto = '';
          var hijos;
          for(var i=1; i<cells.length; i+=1){
            texto = cells[i].firstChild.getAttribute("oldvalue");
            hijos = cells[i].getElementsByTagName('select');
            if( hijos && hijos.length > 0) {
              texto = '<a href="/employees/listar?emp_no='+hijos[0].getAttribute("oldvalue")+'" id="enlace_'+hijos[0].id+'" ';
              texto += 'idlista="'+hijos[0].getAttribute("oldvalue")+'" combo="'+hijos[0].id+'">';
              
              for(var j = 0; j < hijos[0].length; j++){
                if(hijos[0].options[j].value == hijos[0].getAttribute("oldvalue"))
                  texto += hijos[0].options[j].text;
              }
              texto += '</a>';
            }
            cells[i].innerHTML = texto;
          }
          cambiar_span('delete_cancel_'+id, id, 'glyphicon glyphicon-trash', 'Eliminar', 'eliminar_fila');
          cambiar_span('edit_save_'+id, id, 'glyphicon glyphicon-pencil', 'Editar', 'before_update');
          return false;
        }
        
        
        function eliminar_fila(id, eliminar){
          //  seguro que quieres elimninar
          if(eliminar == true) {
            document.getElementById(id).innerHTML = "";
            setMensaje("Datos eliminados con éxito", "success");
          }
        }
        
        
        function cambiar_span(hrefid, id, icono, title, func){
          var span = '<span class="'+icono+'" title="'+title+'"></span>';
          //span += 'onclick="'+func+'('+id+'); return false;"" > </span>';
          var href = document.getElementById(hrefid);
          
          if(func == 'eliminar_fila' || func == 'final_update'){
            href.onclick = function(){};
            href.setAttribute("data-toggle","modal");
            
            if(func == 'eliminar_fila'){
              href.onclick = function(){eval("setIdEliminarModal("+id+");")};
              
              href.setAttribute("data-target","#msgDelete");
            
            }else{
              var clicModalSi = "final_update('"+id+"', true);";
              var clicModalNo = "final_update('"+id+"', false);";
              document.getElementById('update_boton').onclick = function(){ eval( clicModalSi )};
              document.getElementById('cancel_boton').onclick = function(){ eval( clicModalNo )};
              
              href.setAttribute("data-target","#msgUpdate");
            }
          }else{
            href.setAttribute("data-toggle","");
            href.setAttribute("data-target","");
            href.onclick = function(){ eval(''+func+'(\''+id+'\')'); return false;};
          }
          href.innerHTML = span;
        }
        
        function agregar(){
          
        }
        
        function setMensaje(sms, type){
          var msg = '<div class="alert alert-'+type+'">';
          msg += '<button type="button" class="close" data-dismiss="alert">&times;</button>';
          msg += sms+'</div>';
          document.getElementById('mensaje').innerHTML = msg;
        }
        
        function setIdEliminarModal(id){
          var clicDelete = "eliminar_fila('"+id+"', true);";
              
          document.getElementById('delete_boton').onclick = function(){ eval( clicDelete )};
        }
        
        $(function () {
          tab = '<%= params[:g_g]%>';
          
          if (tab == '') $('#detalle_grid a:first').tab('show')
          else           $('#detalle_grid a[href="#<%= params[:g_g]%>"]').tab('show')
        })
        
        
        //  funciones grids tabs
        
        function buscar_tabs( form_id ){
          var url = $( "#"+form_id ).attr('action');
                    
          var jqxhr = $.post( url, $( "#"+form_id ).serialize())
            .done(function( hash_json ) {
              alert( "success - "+ form_id +' - '+ url +'?'+  $( "#"+form_id ).serialize() );
              alert( hash_json );
            })
            .fail(function() {
              //alert( ".No se puede realizar la busqueda ahroa." );
              alert( url +'?'+  $( "#"+form_id ).serialize());
            });
          event.preventDefault();
          return false;
        }

      </script>
      
  </body>
</html>