<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />

    <title>CRUDig</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="/css/bootstrap_modif.css" rel="stylesheet" media="screen">
    
    <script type="text/javascript" src="/js/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    
  </head>  
  <body>
    
    <div class="navbar navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">CRUDig</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <% enlaces.each do |link| %>
               <li><a href="/<%= idioma %>/<%= link%>/listar"><%= link%></a></li>
            <% end %>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            
            <li class="navbar-right dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= idioma%><b class="caret"></b></a>
              <ul class="dropdown-menu">
                <% if (idioma != 'ES' ) %>   <li><a href="/<%= idioma %>/ES/">ES</a></li> <% end %>
                <% if (idioma != 'EN' ) %>   <li><a href="/<%= idioma %>/EN/">EN</a></li> <% end %>
                <% if (idioma != 'FR' ) %>   <li><a href="/<%= idioma %>/FR/">FR</a></li> <% end %>
                <% if (idioma != 'DE' ) %>   <li><a href="/<%= idioma %>/DE/">DE</a></li> <% end %>
                <% if (idioma != 'IT' ) %>   <li><a href="/<%= idioma %>/IT/">IT</a></li> <% end %>
                <% if (idioma != 'PR' ) %>   <li><a href="/<%= idioma %>/PR/">PR</a></li> <% end %>
              </ul>
            </li>
            
            <li class="navbar-right dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Info<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/<%= idioma %>/ayuda">Ayuda</a></li>
                <li><a href="/<%= idioma %>/caracteristicas">Características</a></li>
                <li><a href="/<%= idioma %>/config">Versiones</a></li>
                <li class="divider"></li>
                <li><a href="/<%= idioma %>/demos">Demos</a></li>
              </ul>
            </li>

            <li class="navbar-right dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Config<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/<%= idioma %>/mejoras">Mejoras</a></li>
                <li><a href="/<%= idioma %>/configuraciones">Configuraciones</a></li>
                <li class="divider"></li>
                <li><a href="/<%= idioma %>/config">Nueva configuración</a></li>
              </ul>
            </li>
            
            <li class="navbar-right dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Gráficos<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/<%= idioma %>/chartArea">Area</a></li>
                <li><a href="/<%= idioma %>/chartCircle">Círculo</a></li>                
                <li><a href="/<%= idioma %>/chartBar">Barras</a></li>
                <li><a href="/<%= idioma %>/chartColumn">Columnas</a></li>
                <li><a href="/<%= idioma %>/chartCombo">Combo</a></li>
                <li><a href="/<%= idioma %>/chartLine">Líneas</a></li>
                <li class="divider"></li>
                <li><a href="/<%= idioma %>/mycharts">Mis gráficos</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>    
    
        
    <div class="container">
      
      <div id="mensaje">
        <% if message != '' %>
        <div class="alert alert-success">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= message%>
        </div>
        <% end %>
      </div>
      
      <div class="panel panel-default">
        <div class="panel-heading">
          <label class="pull-right" style="margin: 0px 15px;">Viendo desde __ a __</label>
          <label><b>pruebas</b></label>
        </div>
        
        <table class="table table-condensed table-bordered">
          <thead>
            <tr class="info">
              <th>tabla</th>
              <th>listar Min</th><th>listar Max</th><th>mitad</th>
              <th>where Min</th><th>where Max</th><th>where mitad</th>
              <th><a>Buscar Mejoras</a></th>
            </tr>
          </thead>
          <tbody>
            <% mejoras.each do |tabla, colums| %>
              <tr>
                <td><%= tabla %></td>
                <td><%= colums[:min] %></td>
                <td><%= colums[:max] %></td>
                <td><%= (colums[:max] + colums[:min])/2 %></td>
                <td><%= colums[:minW] %></td>
                <td><%= colums[:maxW] %></td>
                <td><%= (colums[:maxW] + colums[:minW])/2 %></td>
                <td><a>Buscar Mejoras</a></td>
              </tr>
              <tr><td colspan="8">
                <u><li>integer</li>
                  <li>date_time</li>
                  <li>indices</li>
                  <li>full rows</li>
                  
                </u>
              </td></tr>
            <% end %>
          </tbody>
        </table>
        
      </div>
    </div>
          
      
  </body>
</html>