<!DOCTYPE html>
<html>

  <head>
    <!--  Header  -->
    <%= erb :'headers/_head' %>
  </head>
  
  <body>

    <!--  Menu principal -->
    <%= erb :'menus/_menuAdmin' , :locals => {:tablas => tablas,
                                               :enlaces => enlaces,
                                               :traductor => traductor,
                                               :idioma => idioma} %>
        
    <div class="container">
      <div class="row">
        <div class="col-md-10">
          
          <div>
            <h2 id="config_href" class="page-header"><%= traductor[:ayuda_secciones][:config_h2] %></h2>
            <p class="lead"><%= traductor[:ayuda_textos][:config_text] %></p>
            
            <h4 id="conectar_bd_href"><%= traductor[:ayuda_secciones][:conectar_BD_h4] %></h4>
            <div class="col-md-7">
              <p><%= traductor[:ayuda_textos][:conectar_BD_text] %></p>
            </div>
            <div class="col-md-5">
              <img class="thumbnail" src="/img/ayuda/conexion.jpg" alt="conexiones" width="100%"/>
            </div>

            <h4 id="conectar_ftp_href"><%= traductor[:ayuda_secciones][:conectar_FTP_h4] %></h4>
            <div class="col-md-7">
              <p><%= traductor[:ayuda_textos][:conectar_FTP_text] %></p>
            </div>
            <div class="col-md-5">
              <img class="thumbnail" src="/img/ayuda/conexion_ftp.jpg" alt="conexiones" width="100%"/>
            </div>
                        
            <h4 id="conf_tablas_href"><%= traductor[:ayuda_secciones][:config_tablas_h4] %></h4>
            <div class="col-md-7">
              <p><%= traductor[:ayuda_textos][:config_tablas_text] %></p>
            </div>
            <div class="col-md-5">
              <img class="thumbnail" src="/img/ayuda/config_tabla.jpg" alt="conexiones" width="100%"/>
            </div>
            
            <h4 id="conf_columnas_href"><%= traductor[:ayuda_secciones][:config_cols_h4] %></h4>
            <div class="col-md-7">
              <p><%= traductor[:ayuda_textos][:config_cols_text] %></p>
            </div>
            <div class="col-md-5">
              <img class="thumbnail" src="/img/ayuda/config_columnas.jpg" alt="conexiones" width="100%"/>
            </div>
            
            <h4 id="configuraciones_href"><%= traductor[:ayuda_secciones][:configuraciones_h4] %>Configuraciones</h4>
            <div class="col-md-7">
              <p><%= traductor[:ayuda_textos][:configuraciones_text] %></p>
            </div>
            <div class="col-md-5">
              <img class="thumbnail" src="/img/ayuda/config_columnas.jpg" alt="conexiones" width="100%"/>
            </div>
            
            <h4 id="usuarios_href"><%= traductor[:ayuda_secciones][:usuarios_h4] %>Usuarios</h4>
            <div class="col-md-7">
              <p><%= traductor[:ayuda_textos][:usuarios_text] %></p>
            </div>
            <div class="col-md-5">
              <img class="thumbnail" src="/img/ayuda/config_columnas.jpg" alt="conexiones" width="100%"/>
            </div>
            
            <h4 id="roles_href"><%= traductor[:ayuda_secciones][:usuarios_h4] %>Usuarios</h4>
            <div class="col-md-7">
              <p><%= traductor[:ayuda_textos][:usuarios_text] %></p>
            </div>
            <div class="col-md-5">
              <img class="thumbnail" src="/img/ayuda/config_columnas.jpg" alt="conexiones" width="100%"/>
            </div>
            
            <h4 id="demos_href"><%= traductor[:ayuda_secciones][:demos_h4] %></h4>
            <div class="col-md-7">
              <p><%= traductor[:ayuda_textos][:demos_text] %></p>
            </div>
            <div class="col-md-5">
              <img class="thumbnail" src="/img/ayuda/config_demos.jpg" alt="conexiones" width="100%"/>
            </div>
          </div>
          
          <div>
            <h2 id="formularios_href" class="page-header"><%= traductor[:ayuda_secciones][:formularios_h2] %></h2>
            <p class="lead"><%= traductor[:ayuda_textos][:formularios_text] %></p>
            
            <h4 id="insercion_href"><%= traductor[:ayuda_secciones][:insercion_h4] %></h4>
            <div class="col-md-7">
              <p><%= traductor[:ayuda_textos][:insercion_text] %></p>
            </div>
            <div class="col-md-5">
              <img class="thumbnail" src="/img/ayuda/insercion.jpg" alt="conexiones" width="100%"/>
            </div>
            
            <h4 id="edicion_href"><%= traductor[:ayuda_secciones][:edicion_h4] %></h4>
            <p><%= traductor[:ayuda_textos][:edicion_text] %></p>
            
            <h4 id="busquedas_href"><%= traductor[:ayuda_secciones][:busquedas_h4] %></h4>
            <p><%= traductor[:ayuda_textos][:busquedas_text] %></p>
            
            <h4 id="autorefresco_href"><%= traductor[:ayuda_secciones][:autorecargas_h4] %></h4>
            <p><%= traductor[:ayuda_textos][:autorecargas_text] %></p>
            
            <h4 id="informes_href"><%= traductor[:ayuda_secciones][:informes_h4] %></h4>
            <p><%= traductor[:ayuda_textos][:informes_text] %></p>
          </div>
          
          <div>
            <h2 id="graficos_href" class="page-header"><%= traductor[:ayuda_secciones][:graficos_h2] %></h2>
            <p class="lead"><%= traductor[:ayuda_textos][:graficos_text] %></p>
            
            <h4 id="area_href"><%= traductor[:ayuda_secciones][:areas_h4] %></h4>
            <div class="col-md-7">
              <p><%= traductor[:ayuda_textos][:areas_text] %></p>
            </div>
            <div class="col-md-5">
              <img class="thumbnail" src="/img/ayuda/chart_area.jpg" alt="conexiones" width="100%"/>
            </div>
            
            <h4 id="ciraculos_href"><%= traductor[:ayuda_secciones][:circulos_h4] %></h4>
            <div class="col-md-7">
              <p><%= traductor[:ayuda_textos][:circulos_text] %></p>
            </div>
            <div class="col-md-5">
              <img class="thumbnail" src="/img/ayuda/chart_circle.jpg" alt="conexiones" width="100%"/>
            </div>
            
            <h4 id="barras_href"><%= traductor[:ayuda_secciones][:barras_h4] %></h4>
            <div class="col-md-7">
              <p><%= traductor[:ayuda_textos][:barras_text] %></p>
            </div>
            <div class="col-md-5">
              <img class="thumbnail" src="/img/ayuda/chart_barras.jpg" alt="conexiones" width="100%"/>
            </div>
            
            <h4 id="columnas_href"><%= traductor[:ayuda_secciones][:columnas_h4] %></h4>
            <div class="col-md-7">
              <p><%= traductor[:ayuda_textos][:columnas_text] %></p>
            </div>
            <div class="col-md-5">
              <img class="thumbnail" src="/img/ayuda/chart_cols.jpg" alt="conexiones" width="100%"/>
            </div>
            
            <h4 id="combo_href"><%= traductor[:ayuda_secciones][:combos_h4] %></h4>
            <div class="col-md-7">
              <p><%= traductor[:ayuda_textos][:combos_text] %></p>
            </div>
            <div class="col-md-5">
              <img class="thumbnail" src="/img/ayuda/chart_combo.jpg" alt="conexiones" width="100%"/>
            </div>
            
            <h4 id="lineas_href"><%= traductor[:ayuda_secciones][:lineas_h4] %></h4>
            <div class="col-md-7">
              <p><%= traductor[:ayuda_textos][:lineas_text] %></p>
            </div>
            <div class="col-md-5">
              <img class="thumbnail" src="/img/ayuda/chart_linea.jpg" alt="conexiones" width="100%"/>
            </div>
            
            <h4 id="misgraficos_href"><%= traductor[:ayuda_secciones][:mis_graficos_h4] %></h4>
            <div class="col-md-7">
              <p><%= traductor[:ayuda_textos][:mis_graficos_text] %></p>
            </div>
            <div class="col-md-5">
              <img class="thumbnail" src="/img/ayuda/my_charts.jpg" alt="conexiones" width="100%"/>
            </div>
            
          </div>
          
        </div>
        
        <div class="col-md-2 menu_ayuda">
          <ul style="position: fixed; top: 60px;">
            
            <li class="">
              <a href="#config_href"><%= traductor[:ayuda_menu][:config] %></a>
              <ul>
                <li class=""><a href="#conectar_bd_href"><%= traductor[:ayuda_menu][:conectar_BD] %></a></li>
                <li class=""><a href="#conectar_ftp_href"><%= traductor[:ayuda_menu][:conectar_FTP] %></a></li>
                <li class=""><a href="#conf_tablas_href"><%= traductor[:ayuda_menu][:config_tablas] %></a></li>
                <li class=""><a href="#conf_columnas_href"><%= traductor[:ayuda_menu][:config_cols] %></a></li>
                <li class=""><a href="#configuraciones_href"><%= traductor[:ayuda_menu][:configuraciones] %></a></li>
                <li class=""><a href="#usuarios_href"><%= traductor[:ayuda_menu][:usuarios] %></a></li>
                <li class=""><a href="#demos_href"><%= traductor[:ayuda_menu][:demos] %></a></li>
              </ul>
            </li>
            
            <li class="">
              <a href="#formularios_href"><%= traductor[:ayuda_menu][:formularios] %></a>
              <ul>
                <li class=""><a href="#insercion_href"><%= traductor[:ayuda_menu][:insercion] %></a></li>
                <li class=""><a href="#edicion_href"><%= traductor[:ayuda_menu][:edicion] %></a></li>
                <li class=""><a href="#busquedas_href"><%= traductor[:ayuda_menu][:busquedas] %></a></li>
                <li class=""><a href="#autorefresco_href"><%= traductor[:ayuda_menu][:autorecargas] %></a></li>
                <li class=""><a href="#informes_href"><%= traductor[:ayuda_menu][:informes] %></a></li>
              </ul>
            </li>
            <li class="">
              <a href="#graficos_href"><%= traductor[:ayuda_menu][:graficos] %></a>
              <ul>
                <li><a href="#area_href"><%= traductor[:ayuda_menu][:areas] %></a></li>
                <li><a href="#circulo_href"><%= traductor[:ayuda_menu][:circulos] %></a></li>
                <li><a href="#barras_href"><%= traductor[:ayuda_menu][:barras] %></a></li>
                <li><a href="#columnas_href"><%= traductor[:ayuda_menu][:columnas] %></a></li>
                <li><a href="#combo_href"><%= traductor[:ayuda_menu][:combos] %></a></li>
                <li><a href="#lineas_href"><%= traductor[:ayuda_menu][:lineas] %></a></li>
                <li><a href="#misgraficos_href"><%= traductor[:ayuda_menu][:mis_graficos] %></a></li>
              </ul>
            </li>

          </ul>
        </div>
      </div>
    </div>
    
    <div id="footer">
      <hr />
      <br /><br />
    </div>
    
  </body>
</html>       