<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />

    <title>CRUDig</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="/css/bootstrap_modif.css" rel="stylesheet" media="screen">
    
    <script type="text/javascript" async="" src="/js/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" async="" src="/js/bootstrap.min.js"></script>
    
  </head>  
  <body>
    
    <div class="navbar navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">CRUDig</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <% enlaces.each do |link| %>
               <li><a href="/<%= idioma %>/<%= link%>/listar"><%= link%></a></li>
            <% end %>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            
            <li class="navbar-right dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= idioma%><b class="caret"></b></a>
              <ul class="dropdown-menu">
                <% if (idioma != 'ES' ) %>   <li><a href="/ES/">ES</a></li> <% end %>
                <% if (idioma != 'EN' ) %>   <li><a href="/EN/">EN</a></li> <% end %>
                <% if (idioma != 'FR' ) %>   <li><a href="/FR/">FR</a></li> <% end %>
                <% if (idioma != 'DE' ) %>   <li><a href="/DE/">DE</a></li> <% end %>
                <% if (idioma != 'IT' ) %>   <li><a href="/IT/">IT</a></li> <% end %>
                <% if (idioma != 'PR' ) %>   <li><a href="/PR/">PR</a></li> <% end %>
              </ul>
            </li>
            
            <li class="navbar-right dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= traductor[:menu][:info] %><b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/<%= idioma %>/ayuda"><%= traductor[:menu][:ayuda] %></a></li>
                <li><a href="/<%= idioma %>/caracteristicas"><%= traductor[:menu][:caracteristicas] %></a></li>
                <li><a href="/<%= idioma %>/config"><%= traductor[:menu][:versiones] %></a></li>
                <li class="divider"></li>
                <li><a href="/<%= idioma %>/demos"><%= traductor[:menu][:demos] %></a></li>
              </ul>
            </li>

            <li class="navbar-right dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= traductor[:menu][:config] %><b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/<%= idioma %>/mejoras">Mejoras</a></li>
                <li><a href="/<%= idioma %>/configuraciones"><%= traductor[:menu][:configuraciones] %></a></li>
                <li class="divider"></li>
                <li><a href="/<%= idioma %>/config"><%= traductor[:menu][:nueva_config] %></a></li>
              </ul>
            </li>
            
            <li class="navbar-right dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= traductor[:menu][:graficos] %><b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/<%= idioma %>/chartArea"><%= traductor[:menu][:chart_area] %></a></li>
                <li><a href="/<%= idioma %>/chartCircle"><%= traductor[:menu][:chart_circulo] %></a></li>                
                <li><a href="/<%= idioma %>/chartBar"><%= traductor[:menu][:chart_barras] %></a></li>
                <li><a href="/<%= idioma %>/chartColumn"><%= traductor[:menu][:chart_columnas] %></a></li>
                <li><a href="/<%= idioma %>/chartCombo"><%= traductor[:menu][:chart_combo] %></a></li>
                <li><a href="/<%= idioma %>/chartLine"><%= traductor[:menu][:lineas] %></a></li>
                <li class="divider"></li>
                <li><a href="/<%= idioma %>/mycharts"><%= traductor[:menu][:mis_graficos] %></a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>    
    
        
    <div class="container">
      <div class="row">
        <div class="col-md-10">
          
          <div>
            <h2 id="listados_href" class="page-header">Listados</h2>
            <p class="lead">probando</p>
            
            <h4 id="insercion_href">Inserción</h4>
            <p>texto</p>
            <img src="/img/insercion.jpg" alt="conexiones" width="50%"/>
            
            <h4 id="edicion_href">Edición</h4>
            <p>texto</p>
            
            <h4 id="busquedas_href">Búsquedas</h4>
            <p>texto</p>
            
            <h4 id="autorefresco_href">Autorefresco</h4>
            <p>texto</p>
            
            <h4 id="informes_href">Informes</h4>
            <p>texto</p>
          </div>
          
          <div>
            <h2 id="graficos_href" class="page-header">Gráficos</h2>
            <p class="lead">probando</p>
            
            <h4 id="area_href">Área</h4>
            <p>texto</p>
            
            <h4 id="ciraculos_href">Círculos</h4>
            <p>texto</p>
            
            <h4 id="barras_href">Barras</h4>
            <p>texto</p>
            
            <h4 id="columnas_href">Columnas</h4>
            <p>texto</p>
            
            <h4 id="combo_href">Combo</h4>
            <p>texto</p>
            
            <h4 id="lineas_href">Líneas</h4>
            <p>texto</p>
            
            <h4 id="misgraficos_href">Mis gráficos</h4>
            <p>texto</p>            
          </div>
          
          <div>
            <h2 id="config_href" class="page-header">Config</h2>
            <p class="lead">probando</p>
            
            <h4 id="configuraciones_href">Configuraciones</h4>
            <p>texto</p>
            
            <h4 id="usuarios_href">Usuarios</h4>
            <p>texto</p>
          </div>
          
        </div>
        
        <div class="col-md-2 menu_ayuda">
          <ul style="position: relative;">

            <li class="">
              <a href="#modals">Listados</a>
              <ul>
                <li class=""><a href="#insercion_href">Inserción</a></li>
                <li class=""><a href="#edicion_href">Edición</a></li>
                <li class=""><a href="#busquedas_href">Busquedas</a></li>
                <li class=""><a href="#autorefresco_href">Autorefresco</a></li>
                <li class=""><a href="#informes_href">Informes</a></li>
              </ul>
            </li>
            <li class="">
              <a href="#graficos_href">Gráficos</a>
              <ul>
                <li><a href="#area_href">Área</a></li>
                <li><a href="#circulo_href">Círculos</a></li>
                <li><a href="#barras_href">Barras</a></li>
                <li><a href="#columnas_href">Columnas</a></li>
                <li><a href="#combo_href">Combo</a></li>
                <li><a href="#lineas_href">Líneas</a></li>
                <li><a href="#misgraficos_href">Mis gráficos</a></li>
              </ul>
            </li>
            <li class="">
              <a href="#config_href">Config</a>
              <ul>
                <li><a href="#configuraciones_href">Configuraciones</a></li>
                <li><a href="#usuarios_href">Usuarios</a></li>
              </ul>
            </li>

          </ul>
        </div>
      </div>
    </div>
          
      
  </body>
</html>       